<!DOCTYPE html>
<html lang="en">
  <%- include('../include/head') %>
  <body class="p-0 m-0 font-san">
    <%- include('../include/header') %>
    <main class="p-8">
      <form
        class="md:w-2/4 sm:w-3/4 m-auto"
        action="<% if (editing) { %>/admin/edit-product/<%=prod.id%><% } else { %>/admin/add-products<% } %>"
        method="POST"
      >
        <div class="w-full flex flex-col gap-2">
          <label class="block w-full" for="title">Title</label>
          <input
            required
            class="block p-2 w-full border-2 border-cyan-500 rounded-sm focus:outline-none"
            type="text"
            name="title"
            id="title"
            value="<% if (editing) { %><%= prod.title %><% } %>"
          />
          <label class="block w-full" for="img">Image</label>
          <input
            required
            class="block p-2 w-full border-2 border-cyan-500 rounded-sm focus:outline-none"
            type="text"
            name="img"
            id="img"
            value="<% if (editing) { %><%= prod.img %><% }%>"
          />
          <label class="block w-full" for="price">Price</label>
          <input
            required
            class="block p-2 w-full border-2 border-cyan-500 rounded-sm focus:outline-none"
            type="number"
            name="price"
            id="price"
            value="<% if (editing) { %><%= prod.price %><% } %>"
          />
          <label class="block w-full" for="description">Description</label>
          <textarea
            required
            rows="5"
            class="block rows-3 p-2 w-full border-2 border-cyan-500 rounded-sm focus:outline-none"
            type="text"
            name="description"
            id="description"
          >
<% if (editing) { %><%= prod.description %><% }%></textarea
          >
        </div>
        <button
          class="cursor-pointer mt-4 bg-slate-500 rounded-md text-md hover:bg-slate-600 hover:scale-110 transition p-2 text-white"
          type="submit"
        >
          <% if (editing) { %>Edit Product<% } else { %>Add Product<% } %>
        </button>
      </form>
    </main>
  </body>
</html>
